<header class="cluster center">
    <div class="h-card">
        <a id="logo" rel="me" class="u-url u-uid" href="https://www.maxwelljoslyn.com">Maxwell Joslyn</a>
        <a rel="me" href="mailto:maxwelljoslyn@gmail.com"></a>
    </div>
    <nav class="cluster">
        <a href="/index">Home</a>
        <a href="/about">About</a>
        <a href="/blog" rel="feed" type="text/html" title="Maxwell's Blog">Blog</a>
        <a href="/tags">Tags</a>
    </nav>

<a href=/signin>Sign In?</a>

</header>


